<h1>User info</h1>
<th class="list-text"><%= attachment_image_tag current_user, :profile_image, :fill, 100, 100 %></th>
<table>
	<tr>
		<th class="side-title">name</th>
		<th class="side-text"><%= current_user.name %></th>
	</tr>
	<tr>
		<th class="side-title">introduction</th>
		<th class="side-text"><%= current_user.introduction %></th>
	</tr>
</table>

<%= link_to "Edit", edit_user_path(current_user) %>

<h1>New book</h1>
<%= form_for(@book) do |f| %>
<%= f.label "Title" %>
<%= f.text_field :title %>
<%= f.label "Opinion" %>
<%= f.text_area :body %>
<%= f.submit "Create Book" %>
<% end %>