<% if flash[:mess] %>
	<p><%= flash[:mess] %></p>
<% end %>

<%= render 'users/header', user: @user %>
<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<%= render 'users/side-bar', book: @book %>
		</div>
		<div class="col-lg-9">
			<h1>Users</h1>
			<table class="table table-striped">
				<tr>
					<th class="list-title">image</th>
					<th class="list-title">name</th>
					<th class="list-title"></th>
				</tr>
				<% @users.each do |user| %>
					<tr>
						<th class="list-text"><%= attachment_image_tag user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40' %></th>
						<th class="list-text"><%= user.name %></th>
						<th class="list-text"><%= link_to "Show", user_path(user) %></th>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>